<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">APP.Lanchonete</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @if (logado)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true" id="Home"></span> Home
                </NavLink>
            </div>

            @*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="produtos">
                    <span class="bi bi-box-seam-fill-nav-menu"></span> Produtos
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="perfis">
                    <span class="bi bi-people-fill-nav-menu"></span> Perfis
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="usuarios">
                    <span class="bi bi-person-circle-nav-menu"></span> Usuários
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="pedidos">
                    <span class="bi bi-bag-fill-nav-menu"></span> Pedidos
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="controleacessos">
                    <span class="bi bi-person-fill-gear-nav-menu"></span> Controle de Acessos
                </NavLink>
            </div>

            <div class="nav-item px-3 mt-auto logout-bottom">
                <button class="btn btn-danger w-100" @onclick="Logout">
                    <span class="bi bi-box-arrow-right-nav-menu"></span> Sair
                </button>
            </div>
        }
    </nav>
</div>

@inject NavigationManager Navigation
@inject IJSRuntime JS

@code {
    private bool logado = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var jwtToken = await JS.InvokeAsync<string>("localStorage.getItem", "JwtToken");
            logado = !string.IsNullOrWhiteSpace(jwtToken);
            StateHasChanged();
        }
    }

    private async Task Logout()
    {
        var keys = new[] { "JwtToken", "IdUsuario", "Nome", "Email", "IdPerfil", "NomePerfil", "TelasPermitidas" };

        foreach (var key in keys)
            await JS.InvokeVoidAsync("localStorage.removeItem", key);

        logado = false;
        StateHasChanged();
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}